<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FakeBuster</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<body>
    <header class="encabezado">
        <h1 class="titulo">FakeBuster</h1>
    </header>
    <main>
        <div class="contenedor">
            <form method="post" id="formularioManual">
                {% csrf_token %}
                <label class="texto">Introduce el titulo de la noticia</label>
                <br> 
                <input type="text" name="titulo" class="noticia" id="titulo">
                <br>

                <label class="texto">Introduce el autor de la noticia</label> 
                <br> 
                <input type="text" name="autor" class="noticia" id="autor">
                <br>

                <label class="texto">Introduce la fecha de creación de la noticia</label> 
                <br> 
                <input type="date" name="fecha" class="noticia" id="fecha">
                <br>
                <input type="submit" value="¿Es falso?" class="enviar"/>
            </form>            
        </div>

        <p class="resultado" id="resultado">Resultado:</p>
        <p class="resultado" id="informacionDelTitulo">Esto se encontro del titulo: {{ valorTitulo }}</p>
        <p class="resultado" id="informacionDelAutor">Esto se encontro del autor: {{ valorAutor }}</p>
        <p class="resultado" id="informacionDelaFecha">Esto se encontro de la fecha: {{ valorFecha }}</p>

    </main>
</body>
</html>